@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#home{
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* padding-bottom: 50px; */
    float: left;
}
/* NAV BAR */
ul li a{
    text-decoration: none;
    color: black;
}
ul li a:hover{
    color: rgb(25, 98, 255);
    font-weight: 600;
    transition: 0.1s;
}
ul li{
    list-style: none;
}

.nav{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav__close, .nav__toggle{
  color: rgb(44, 171, 255);
  font-size: 20px;
  font-weight: 600;
  display: flex;
  cursor: pointer;
}

.globe-icon{
    margin-left: -30px;
}
/* NAVIGATION FOR MOBILE DEVICES */
@media (max-width: 1100px) {
    .nav__menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: rgba(73, 156, 211, 0.26);
        width: 80%;
        height: 100%;
        padding: 50px 0 0 20px;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        transition: right 1s;
        z-index: 3;
    }
.button-1{
    margin-bottom: 20px;
}
.nav__toggle{
    margin-right: 10px;
    font-size: 40px;
}
.globe-icon{
    display: none;
}
}
.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.nav__close{
    position: absolute;
    top: 30px;
    right: 20px;
    color: rgb(95, 95, 255);
}
 /* SHOW MENU */
 .show-menu{
    right: 0;
 }
 @media (min-width: 1100px) {
   .nav__close, .nav__toggle{
    display: none;
   }
   .nav__list{
    flex-direction: row;
    column-gap: 50px;
    justify-self: center;
   }
 }
.logo{
    display: flex;
    margin-left: 20px;
}
.Zim-e a{
    text-decoration: none;
    color: black;
}
.button-2{
    margin-right: 50px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background-color: black;
    border: none;
    padding-bottom: 7px;
    overflow: hidden;
    position: relative;
    a{
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }
}

.button-2::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #585858;
    transition: width 2s ease-in-out;
    z-index: -1;
}
.button-2:hover::before{
    width: 100%;
    z-index: 1;
}
.button-2 span{
    position: relative;
    z-index: 3;
}
.button-2 a{
    position: relative;
    z-index: 2;
}

.button-1{
    background-color: rgb(255, 189, 123);
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    a{
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }
}

.button-div{
    margin-top: -20px;
}
/* BUTTION-1 Hover */
.button-1::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: rgb(255, 159, 63);
    transition: width 2s ease-in-out;

}
.button-1:hover::before{
    width: 100%;
}
.button-1 span{
    position: relative;
}
.button-1 a{
    position: relative;
    z-index: 2;
}

/* HOME CONTENTS */
.heading{
    font-size: 4cap;
    margin-bottom: -2px;
    @media (min-width: 1130px) {
        width: 80%;
        /* font-size: 60px; */
    }
    @media (max-width: 1084px) and (min-width: 900px) {
        width: 80%;
    }
    @media (max-width: 435px) {
        font-size: 3cap;
    }
    @media (max-width: 350px) {
        font-size: 2cap;
    }
}
.small-heading{
    font-size: 20px;
    color: rgb(51, 51, 51);
    @media (max-width: 350px) {
        font-size: 15px;
    }
}
.button-3{
    width: 200px;
    height: 50px;
    background-color: rgb(4, 26, 31);
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    a{
        text-decoration: none;
        color: white;
    }
}

/* BUTTON-3 HOVER */
.button-3::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: rgb(6, 55, 66);
    transition: width 2s ease-in-out;

}
.button-3:hover::before{
    width: 100%;
}
.button-3 span{
    position: relative;
}
.button-3 a{
    position: relative;
    z-index: 2;
}
/* HOME IMAGE */
.home-image{
    width: 80%;
    height: auto;
    /* background-color: blue; */
}
.image-home{
    @media (max-width: 1084px) {
        width: 100%;
        margin-top: 10%;
    }
}
.home-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    justify-content: center;
    padding: 20px 40px 10px;
    @media (max-width: 1084px) {
        flex-wrap: wrap;
    }
}

/* LAYOUT SECTION */
#layout-section{
    width: 100%;
    background-color: rgb(255, 255, 255);
    float: left;
}
.container-layout{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 20px;
   /* background-color: aqua; */
}
.right-top,
.right-bottom{
    background-color: rgb(233, 233, 233);
    padding: 20px;
    border-radius: 10px;
}
.left{
    width: 40%;
    padding: 5px 20px;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    @media (max-width: 632px) {
        width: 80%;
        margin-bottom: 5%;
    }
}
.right-top{
    margin-bottom: 5%;
}
.left-divs{
    width: 40%;
    margin-left: 2%;
    @media (max-width: 632px) {
        width: 80%;
        margin-bottom: 5%;
    }
}
.advantages-heading{
    font-size: 3cap;
    @media (min-width: 1100px) {
        width: 55%;
    }
    @media (max-width: 700px) {
        font-size: 2cap;
    }
}
.rates-container{
    display: flex;
    gap: 20px;
}
.rates{
    margin-top: -20px;
    color: rgb(31, 108, 252);
    font-size: 3cap;
}
.rates-1{
    margin-top: -20px;
    color: rgb(31, 108, 252);
    font-size: 3cap;
}
.rates-paragraph{
    color: #585858;
    margin-top: -30px;
}
.fast-text{
    color: #585858;
}

/* CARDS GRID PART */
.how-heading{
    font-size: 3cap;
    margin-left: 5%;
}
.card{
    background-color: rgb(220, 231, 252);
    border-radius: 10px;
    padding: 0 20px 30px 0;
    width: 30%;
    @media (max-width: 859px) {
        width: 80%;
    }
    @media (max-width: 339px) {
        width: auto;
    }
}

.card-icon{
    margin-left: 35px;
}
.grid-container{
 padding: 0 30px;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 gap: 10px;
 /* background-color: black; */
 margin-bottom: 70px;
}
.card-heading{
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
}
.card-text{
    color: rgb(77, 75, 75);
    margin-left: 20px;
    @media (max-width: 339px) {
        font-size: 12px;
    }
}
.wrapper{
    margin-right: 50px;
}

/* CARD SLIDER */
#slider-section{
    width: 100%;
    background-color: #754c4c;
    float: left;
}
.slider-wrapper{
    padding: 20px;
    /* max-width: 1200px; */
    background-color: #ffffff;
    margin: 0 auto;
}
.arrow-container{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: -70px;
    @media (max-width: 574px) {
        margin: 0;
    }
}
.arrow-left,
.arrow-right{
    cursor: pointer;
    transform: translateY(10%);
}
.arrow-left:hover{
    transform: scale(1.1);
}
.arrow-right:hover{
    transform: scale(1.1);
}

.cardi{
    background-color: rgb(17, 121, 161);
    width: 300px;
    height: 400px;
    border-radius: 10px;
    padding: 10px 10px 20px;
    margin: 20px;
    flex: 0 0 auto;
    @media (max-width: 404px) {
        width: 200px;
        height: 300px;
    }
}
.cardie{
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 300px;
    border-radius: 10px;
    padding: 10px 10px 20px;
    margin: 20px;
    flex: 0 0 auto;

}
.cardie2{
    /* background-color: rgb(182, 222, 255); */
    width: 200px;
    height: 300px;
    border-radius: 10px;
    padding: 10px 10px 20px;
    margin: 20px;
    flex: 0 0 auto;
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgb(78, 155, 255);
    margin-top: 20px;
}
.heading-card{
    color: white;
    font-weight: bold;
}
.text-card{
    color: white;
    font-size: 15px;
}
.id-pics{
    margin-left: 45px;
    @media (max-width: 404px) {
        width: 100px;
        height: 100px;
    }
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    /* flex-wrap: wrap; */
    overflow-x: auto;
    padding: 20px 0;
    scroll-snap-align: start;
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
}
.howHeading{
    font-size: 3cap;
    margin-left: 3%;
}

/* READ MORE SECTION */
#read-more-section{
    width: 100%;
    background-color: #685757;
    float: left;
}
.read-more-wrapper{
    padding: 20px;
    /* max-width: 1200px; */
    background-color: #ffffff;
    /* margin: 0 auto; */
}
.read-more-button{
    width: 150px;
    height: 50px;
    background-color: rgb(4, 26, 31);
    border: none;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    a{
        text-decoration: none;
        color: white;
    }
}
.read-more-button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: rgb(6, 55, 66);
    transition: width 2s ease-in-out;

}
.read-more-button:hover::before{
    width: 100%;
}
.read-more-button span{
    position: relative;
}
.read-more-button a{
    position: relative;
    z-index: 2;
}

/* READ MORE GRID */
.first-box{
   /* background-color: #837e7e; */
   width: 20%;
   background-color: #dfdede;
   border-radius: 10px;
   padding: 30px 20px;
   @media (max-width: 1247px) {
    width: 60%;
   }
   @media (max-width: 694px) {
    width: 80%;
   }
}
.read-more-grid{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.readmore-heading{
    font-size: 20px;
}
.readmore-text{
    font-size: 15px;
    color: #353535;
}
.book{
    margin-left: 30px;
    @media (max-width: 380px) {
        width: 100px;
        height: 100px;
    }
}
.button-container{
    display: flex;
    justify-content: flex-end;
    /* gap: 10px; */
    margin-top: -70px;
    @media (max-width: 694px) {
        margin: 0;
    }
}



#popular-section{
    background-color: #925a5a;
    width: 100%;
    float: left;
}
/* SEARCH BAR */

input[type="search"]{
    padding: 20px 10px;
    background-color: rgb(201, 201, 201);
    border-radius: 8px;
    width: 250px;
    border: none;
}
.fa-search{
    position: relative;
    top: 20px;
    right: 35px;
}
input[type="search"]::placeholder{
    color: #353535;
}
input[type="search"]:focus{
    border: 1px solid rgb(71, 71, 71);
    outline: none;
}
.search-bar-container{
    display: flex;
    justify-content: flex-end;
    margin-top: -40px;
    @media (max-width: 694px) {
        margin: 0;
    }
}

.popular-wrapper{
    padding: 20px;
    background-color: #ffffff;
}

.all-documents-box{
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
    padding: 30px 20px;
    width: 200px;
    height: 200px;
    margin-right: -136px;
    @media (min-width: 1248px) {
        width: 200px;
        height: 200px;
    }
    @media (max-width: 1347px) {
     width: 30%;
     margin: 0;
     height: 3%;
     margin-top: -80px;
    }
    @media (max-width: 694px) {
     width: 80%;
     height: 5%;
     margin-top: 1px;
    }
}
.passport-grid{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    @media (max-width: 700px) {
        gap: 50px;
    }
}
.passport-heading{
    font-size: 20px;
    margin-left: -30px;
}
.passport-arrow{
    margin-left: 80px;
    margin-top: 50px;
}
.all-documents-heading{
    margin-left: 40px;
    font-size: 20px;
}

/* ANOTHER-CARD-SLIDER */
#slider-section2{
    width: 100%;
    background-color: #ffffff;
    float: left;
}
.slider-wrapper2{
    padding: 20px;
    background-color: #ffffff;
    margin: 0 auto;
}
.howHeading2{
    font-size: 3cap;
    margin-left: 3%;
    span{
        color: rgb(255, 209, 124);
        font-size: 28px;
    }
}
.arrow-container2{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: -70px;
    @media (max-width: 574px) {
        margin: 0;
    }
}
.arrow-left2,
.arrow-right2{
    cursor: pointer;
    transform: translateY(10%);
}
.arrow-left2:hover{
    transform: scale(1.1);
}
.arrow-right2:hover{
    transform: scale(1.1);
}
.card-container2{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    /* flex-wrap: wrap; */
    /* background-color: #585858; */
    overflow-x: auto;
    padding: 20px 0 0;
    scroll-snap-align: start;
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
}
.cardi2{
    background-color: rgb(221, 221, 221);
    width: 300px;
    height: 250px;
    border-radius: 10px;
    padding: 10px 10px 20px;
    margin: 20px;
    flex: 0 0 auto;
    @media (max-width: 404px) {
        width: 200px;
        height: 300px;
    }
}
.cardie-2{
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 250px;
    border-radius: 10px;
    padding: 10px 10px 20px;
    margin: 20px;
    flex: 0 0 auto;

}
.cardie3{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 250px;
    border-radius: 10px;
    padding: 10px 10px 20px;
    margin: 20px;
    flex: 0 0 auto;
}

/* CARD ITEMS */
.profile-pic{
    width: 61px;
    height: 60px;
    background-image: url(../assets/images/8.png);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}
.rate{
    color: rgb(25, 98, 255);
    font-size: 15px;
    margin-top: -10px;
}
.name{
    font-size: 21px;
}
.lorem-text{
    color: #3f3f3f;
    /* margin-top: 30px; */
     font-size: 14px;
     @media (max-width: 404px) {
        font-size: 12px;
     }
}
.profile-name-container{
    margin-left: 80px;
    margin-top: -70px;
}
#blue-box{
    width: 100%;
    /* padding-bottom: 20px; */
    /* background-color: #632c2c; */
    float: left;
}
.blue{
    width: 80%;
    height: auto;
    background-color: rgb(42, 111, 201);
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    @media (max-width: 444px) {
        width: 100%;
    }
}
.blue-box-container{
    background-color: #ffffff;
    padding: 70px 30px 80px;
    display: flex;
    justify-content: center;
}
.app-image{
    height: 400px;
    margin-left: 480px;
    @media (max-width: 1084px) {
        margin-left: 300px;
    }
    /* @media (max-width: 828px) {
        margin-left: 150px;
    } */
}
.download-heading{
    /* margin-top: -100px; */
    color: white;
    @media (min-width: 1202px) {
        font-size: 4cap;
        font-weight: 400;
        width: 300px;
    }
    @media (max-width: 1200px) {
        font-size: 3cap;
        font-weight: 400;
        width: 50%;
    }
}
.download-text{
    color: #ffffff;
    margin-top: -20px;
    @media (min-width: 1200px) {
        width: 40%;
        font-size: 17px;
    }
    @media (max-width: 1200px) {
        width: 50%;
        font-size: 17px;
    }
    @media (max-width: 700px) {
        width: 80%;
    }
}

.download-button{
    width: 120px;
    height: 38px;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.download-button a{
    text-decoration: none;
    color: rgb(22, 90, 167);
    font-size: 15px;
}
.download-button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #89c0ff;
    transition: width 2s ease-in-out;
    z-index: -1;
}
.download-button:hover::before{
    width: 100%;
    z-index: 1;
}
.download-button span{
    position: relative;
    z-index: 3;
}
.download-button a{
    position: relative;
    z-index: 2;
}

.text-container{
    margin-top: -360px;
    margin-left: 30px;
}

/* FOOTER */
.end{
    width: 100%;
    background-color: #273033;
    padding-bottom: 20px;
    float: left;
}
.zim-text{
    color: #e6e6e6;
    margin-left: 60px;
    margin-top: -40px;
}
.item-text{
    color: #e6e6e6;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}
.last-text{
    display: flex;
    gap: 30px;
    margin-left: 20px;
    p{
        color: rgb(216, 216, 216);
    }
}
.small-text{
    color: rgb(104, 104, 104);
    font-size: 15px;
}
.get-in-touch-icons{
    p{
        color: rgb(216, 216, 216);
    }
}
.twitter{
    cursor: pointer;
    transform: translateY(10%);
}
.twitter:hover{
    transform: scale(1.1);
    transition: 0.1s;
}
.first-item{
    a{
        text-decoration: none;
    }
}